.contentContainer {
  max-width: 1120px;

  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  // align-items: center;
  // justify-content: space-between;

  @media (max-width: 580px) {
    height: calc(100vh - 5rem);
    padding-top: 50px;
  }

  @media (max-width: 980px) {
    grid-template-columns: 1fr;
    align-content: space-between;
    align-items: center;
  }

  // @media (max-width: 1140px) {
  //   justify-content: center;
  // }
}
.avatar {
  height: 34rem;
  @media (max-width: 980px) {
    height: 18rem;
  }
}
.hero {
  max-width: 600px;

  > span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
    margin-top: 2.5rem;

    span {
      color: var(--cyan-500);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-top: 1.5rem;

    span {
      color: var(--cyan-500);
      font-weight: bold;
    }
  }

  button {
    margin-top: 2.5rem;
  }
}
